
    <form action="/jobs/{{job['id']}}/apply" method="post">
      <div>
        <label>Enter Your Full Name</label>
    <input type="text" name="name" placeholder="Your Name"> 
        </div>
            <div>
              <label>Enter Your email ID</label>
    <input type="email" name="email" placeholder="Email"> 
        </div>
            <div>
              <label>Enter Your LinkedIn Id</label>
    <input type="text" name="linkedin" placeholder="LinkedIn"> 
        </div>
            <!-- <div> -->
    <!-- <input type="text" name="full_name" placeholder="Your Name"> 
        </div>
            <div>
    <input type="text" name="full_name" placeholder="Your Name"> 
        </div>
            <div>
    <input type="text" name="full_name" placeholder="Your Name"> 
        </div> -->
                <input type="submit" name="submit">
    </form>
  