<html>
  <head>
    {%include 'bootstrap.html' %}
    <title>
      {{job.title}}
    </title>
  </head>
  <body>
     {%include 'nav.html' %}
     {%include 'banner.html' %}
    <div class="container">
    <div class="text-center mt-2 mb-4">
      <h3 class="mb-2">{{job.title}}</h3>
    </div>
      <b>Location:</b> {{job.location}}
    {% if 'salary' in job %}
    <div>
      <b>Salary: Rs.</b> {{job.salary}}
    </div>
    {% endif %}
    <div>
      <b>Responsibility</b> 
        <ul>
      {%for lines in job.responsibility.split("/n")%}
        <li>{{lines}}</li>
        {%endfor%}
          </ul>
    </div>
     <div>
      <b>Requirements</b> 
        <ol>
      {%for lines in job.requirements.split("/n")%}
        <li>{{lines}}</li>
        {%endfor%}
          </ol>
     </div>
      {%include 'applications.html' %}
  </div> 
      {% include 'footer.html' %}
  </body>
</html>